.campo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: #e4dad78a;
    height: 50vh;   
}


.campo__tipo{
    display: flex;  
    flex-direction: column; 
    justify-content: center;    
    background-color: rgba(83, 198, 202, 0.89);
    margin-top: 45px;
    padding: 19px  54px 163px 33px;
    border-radius: 12px;
   
} 

.campo__label{
    display: inline-block;
    color: #180606;
    font-size: medium   ;
}


.campo__tipo input{
    margin-top: 10px;
    width: 430px;
    height: 30px;
    border-radius:  7px;
}